.container636{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #87CEEB;
    transition: 250ms;
}

.container636 h1{
    text-align: center;
}

.container636 p{
    text-align: left;
    margin: 25px;
}

.guidelines li{
    text-align: left;
    justify-content: left;
    margin: 25px;
}

.textbox{
    resize: none;
    margin:13px 0;
    width: 400px;
    height: 100px;
}

.fb1 , .fb2, .fb3, .fb4, .fb5{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 20px;
}

.fb6{
    text-align: center;
    padding: 0px 30px 20px;
}

#greeting{
    text-align: left;
    font-size: 18px;
    margin-bottom: 8px;
}

.fb1 textarea, .fb2 textarea,.fb3 textarea, .fb4 textarea,.fb5 textarea, .fb1 input{
    padding: 5px 15px 15px 5px;
    font-size: 20px;
}

.ty{
    font-weight: 500;
    font-size: 30px;
}

.fb6 input{
    text-align: center;
    font-size: 20px;
}

.pointers{
    text-decoration: none;
}

.whity{
    color:white;
}
  
  .blacky{
    color:black;
}

.darkmode{
    background: #222;
}

.buttonn{
    margin-left: 36vw;
    width: 400px;
    height: 55px;
    align-items: center;
    background: beige;
    border:none;
    outline:none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color:#333;
}

.success_message{
    padding-left: 42%;
}

