.whole3{
  background: bisque;
  transition: 0.5s;
}

.container3{
  width: 100%;
  min-height: 100vh;
  transition: 500ms;
}

.hstack{
  width: 100%;
  display: flex;
}

.part1{
  width: 60%;
}

.darkmode{
  background: #222;
}

.abouttxt{
  margin-bottom: 500px;
  text-align: left;
  margin: 200px;
  margin-top: 30px;
  line-height: 2;
  font-size: 17px;
}

.part2{
  width: 40%;
  margin-top: 200px;
  margin-right: 80px;
}

.whity{
  color:white;
}

.blacky{
  color:black;
}

.miniheader{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 60px;
  margin-left: 200px;
  text-align: left;
  font-size: 50px;
}

.sc{
  padding-top: 300px;
  line-height: 2;
  font-size: 16px;
}